:root {
    font-family: Fira Code;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-flow: row wrap;

    outline: 2px solid yellow;
}

.s,
.h,
.d,
.v {
    display: flex;
    flex-direction: column;

    outline: 2px solid blue;
    outline-offset: -4px;
}

.item {
    outline: 2px solid red;
    outline-offset: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: 1;
    color: red;
    font-weight: bold;
}

.s,
.h {
    width: 200px;
    height: 200px;
}

.d,
.v {
    width: 100px;
    height: 200px;
}

.s .item,
.v .item {
    width: 100%;
    height: 100%;
}

.h .item,
.d .item {
    width: 100%;
    height: 50%;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
